html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0px;
}

.container {
  margin: 0px;
  width: 100%;
  height: 100%;
  outline: dashed 1px black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* Setup */
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  font-size: 20em;
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: sans-serif;
  order: 1;
}

.clockSec {
  padding: 5%;
  font-size: 10em;
  color: grey;
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: sans-serif;
  order: 1;
}

.progWrapper{
  font-size: 10em;
  background-color: rgba(63, 63, 63, 0.733);
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: sans-serif;
  order: 1;
  height: 24px;
  width: 80%;
  border: 1px solid rgb(63, 63, 63);
}

.progBar {
  appearance: none;
  height: 100%;
  width: 80%;
  border-radius: 0px;
  background-color: darkcyan;
}

.testImg{
  height: 100%;
  width: 100%;
}

#overlay {
  position: fixed;
  font-family: sans-serif;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#text{
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.5; }
  to { opacity: 1.0; }
}

.blink {
animation:fade 1000ms infinite;
-webkit-animation:fade 1000ms infinite;
}