html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0px;
}

.container {
  margin: 0px;
  width: 100%;
  height: 100%;
  outline: dashed 1px black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* Setup */
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.timer {
  font-size: 20em;
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-family: sans-serif;
}

.testImg{
  height: 100%;
  width: 100%;
}

