<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>openCountdown - Admin</title>
  <meta name="description" content="openCountdown">
  <meta name="author" content="TheGreydiamond">

  <link rel="stylesheet" href="css/styles.css?v=1.1">
</head>

<body>


  <form action="/api/v1/set/mode" target="hiddenFrame">
    <select id="mode" name="mode">
      <option value="timer">Timer</option>
      <option value="clock">Clock</option>
      <option value="black">Black</option>
      <option value="test">Test</option>
    </select>
    <button type="submit">Submit</button>
  </form>

  <br>
  <form action="/api/v1/set/showMillis" target="hiddenFrame">
    <select id="show" name="show">
      <option value="true">Enable Milliseconds</option>
      <option value="false">Disable Milliseconds</option>
    </select>
    <button type="submit">Submit</button>
  </form>

  <form action="/api/v1/set/showTime" target="hiddenFrame">
    <select id="show" name="show">
      <option value="true">Show Clock on Countdown page</option>
      <option value="false">Do not show Clock on Countdown page</option>
    </select>
    <button type="submit">Submit</button>
  </form>

  <form action="/api/v1/set/addMillisToTimer" target="hiddenFrame">
    <input type="time" step="0.001" name="time2" id="time2" onchange="updateHiddenForm()"></input>
    <input type="hidden" step="0.001" name="time" id="time"></input>
    <button type="submit">Submit</button>
  </form>

  <form action="/api/v1/set/addMillisToTimer" target="hiddenFrame">
    <select id="time" name="time" onchange="">
      <option value="300000">00:05:00</option>
      <option value="600000">00:10:00</option>
      <option value="900000">00:15:00</option>
      <option value="1200000">00:20:00</option>
      <option value="1500000">00:25:00</option>
      <option value="1800000">00:30:00</option>
      <option value="2100000">00:35:00</option>
      <option value="2400000">00:40:00</option>
      <option value="2700000">00:45:00</option>
    </select>
    <button type="submit">Submit</button>
  </form>

  Play controls:
  <form action="/api/v1/ctrl/timer/play" target="hiddenFrame">
    <button type="submit">Play</button>
  </form>
  <form action="/api/v1/ctrl/timer/pause" target="hiddenFrame">
    <button type="submit">Pause</button>
  </form>
  <form action="/api/v1/ctrl/timer/restart" target="hiddenFrame">
    <button type="submit">Restart</button>
  </form>
  
  Message: 
  <form action="/api/v1/ctrl/message/show" target="hiddenFrame">
    <input type="text" name="msg">
    <button type="submit">Submit</button>
  </form>
  <form action="/api/v1/ctrl/message/hide" target="hiddenFrame">
    <button type="submit">Hide</button>
  </form>
  <iframe name="hiddenFrame" style="display: none"></iframe>


  <iframe src="/timer?smaller=true" height="80%" width="80%"> </iframe>
</body>
<script src="js/interface.js"></script>

</html>