<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>openCountdown - Timerpage</title>
    <meta name="description" content="openCountdown">
    <meta name="author" content="TheGreydiamond">

    <link rel="stylesheet" href="css/styles.css?v=1.1">
    
    <link rel="icon" href="/logo/faviconLogo.svg" type="image/svg+xml">
</head>

<body onclick="updateFullscreen()">
    <div id="overlay">
        <div id="text">Message here</div>
    </div>

    <!-- Collection of warning and errors  -->
    <noscript>
	<div class="connectionWarning">
	    Javascript is disabled. Please enable it to use openCountdown.
	</div>
    </noscript>

    <div class="connectionWarning" id="warningBanner" style="display: none;">
        Connection lost. Trying to reconnect...
    </div>

    <!-- Color Bar Image -->
    <img src='SMPTE_Color_Bars.svg' class='testImg' id="testImg" style="display: none;">
    </img>

    <div class="container">
        <div class="progWrapper" id="wholeProgBar">
            <div class="progBar" id="progBar"></div>
        </div>
        <div class="timer" id="timer">
            00:00:00
        </div>
        <div class="clockSec" id="clockSec">
        </div>
        <div class="clockSec" id="timediff">
            
        </div>
    </div>
    <div id="moveClock" style="display: none;">
	<img src="logo/logoProposal-invert.svg"  alt="openCountdown" height="180px" class="moverLogo" >
	<center><div id="screensaverClock">
		00:00:00
	</div>
</center>
	
    </div>
    <!-- Load scripts -->
    <script src="js/reconnecting-websocket.min.js"></script>
    <script src="js/timer/timerview.js"></script>
</body>

</html>