<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>openCountdown</title>
    <meta name="description" content="openCountdown">
    <meta name="author" content="TheGreydiamond">

    <link rel="stylesheet" href="css/styles.css?v=1.1">
</head>

<body onclick="updateFullscreen()">



    <div id="overlay" onclick="off()">
        <div id="text">Message here</div>
    </div>

    <div class="connectionWarning" id="warningBanner" style="display: none;">
        Connection lost. Trying to reconnect...
    </div>

    <img src='SMPTE_Color_Bars.svg' class='testImg' id="testImg" style="display: none;">
    </img>
    <valueStore style="display: none;">
        <value id="initalDate">true</value>
        <value id="incomeData"></value>
    </valueStore>

    <div class="container">
        <div class="progWrapper" id="wholeProgBar">
            <div class="progBar" id="progBar"></div>
        </div>
        <div class="timer" id="timer">
            00:00:00
        </div>
        <div class="clockSec" id="clockSec">
        </div>
        <div class="clockSec" id="timediff">
            
        </div>
    </div>
    <script src="js/reconnecting-websocket.min.js" async defer></script>
    <script src="js/countdown.js"></script>
    <script src="js/script.js"></script>
</body>

</html>