<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>openCountdown - Not found</title>
    <meta name="description" content="openCountdown">
    <meta name="author" content="TheGreydiamond">

    <script type="text/javascript" src="/assets/js-cookie/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet/less" type="text/css" href="/css/errorPage/styles.less" />


    <script>
        less = {
            javascriptEnabled: true
        };
    </script>
    <script src="/assets/less/dist/less.min.js"></script>

    <link rel="stylesheet" href="/css/errorPage/style.css">
</head>

<body>
    <div class="container">
        <h1 class="rainbow">
            <div class="glitch" data-text="404">
                404
            </div>
        </h1>
        <h2 class="color-foreground">
            We're sorry, the page you were looking for isn't found here.<br>
            The link you followed may either be broken or no longer exists. Please
            check your spelling.<br>

            <a href="/"><i class="bi bi-house-door"></i> Back home</a>
        </h2>

    </div>
</body>

</html>